name: Build Mod

on:
  push:
    branches: [ main ]
  workflow_dispatch:  # позволяет запускать вручную с сайта GitHub

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/upload-artifact@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 21

      - name: Cache Gradle
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Make Gradle wrapper executable
        run: chmod +x ./gradlew

      - name: Build mod
        run: ./gradlew build

      - name: Upload built mod
        uses: actions/upload-artifact@v3
        with:
          name: built-mod
          path: build/libs/*.jar
          
